<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-auto">
    <div class="row">
        <div class="col-md-4 offset-md-6 width:30% height:30% offset-xl-4">
            <div class="card shadow">
                <img src="https://source.unsplash.com/collection/181581/" alt="" class="card-img-top"/>
                <div class="card-body width:20%">
                    <h5 class="card-title">Sign Up </h5>
                    <form action="/register" class="validated-form" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="description">username</label>
                            <input  autofocus class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">Looks Good </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input  class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">Looks Good </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input  class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">Looks Good </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>

</div>







